.home{
    width: 1200px;
    margin: 0 auto;
}
.home .menu li{
    cursor: pointer;
}
.home .ltd{
    background-color: #f4f4f4;
    color: #333;
}

.home .menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f0ffa;
}

.home img{
    width: 145px;
    height: 145px;
}


.details{
    text-align: center;
}
.details h2{
    margin: 100px 0 50px;
}
.details img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}